<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$!page_title</title>
    <script type="text/javascript" src="${resourceRoot}/misc/js/base/jquery.js"></script>
    <script type="text/javascript" src="${resourceRoot}/misc/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="${resourceRoot}/misc/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="${resourceRoot}/misc/skin/base.css"/>
    <link rel="stylesheet" type="text/css" href="${resourceRoot}/misc/skin/index.css"/>
    <link rel="stylesheet" type="text/css" href="${resourceRoot}/misc/skin/head.css"/>
</head>
<body>
<div id="header">
    #parse('layout/head.vm')</div>
    $screen_content
</body>
</html>